.mot {
    display: flex;
    animation-delay:10s;
}

.mot>div {
    padding-top:30px;
    font-size: 2.5vw;
    animation-delay:2s;
    animation: animationLettre 0.5s both;
   
    
}

@keyframes animationLettre {
    from {
        /* opacity:  0; */
        color:white;
        transform: translateY(-75vw);
        animation-timing-function: cubic-bezier(.38,.4,.84,.84);
    }
        //animation-timing-function: cubic-bezier(.8, .01, .97, .19);
    

    50% {
        /* opacity:  .5; */
        color:gray;
        transform: translateY(30vw) ;
        animation-timing-function: cubic-bezier(0,.52,.82,.73);
        //animation-timing-function: cubic-bezier(.09, .25, .19, 1.01);
    }

    to {
        /* opacity:  1; */
        color:black;
        transform: translateY(0%);
    }

}